body{
    background: #FF4500;
}
#container{
    border: 3px solid #AEEF0F;
    position: relative;
    display: flex;
}

.align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.logo{
    margin-bottom: -10%;
    text-align: center;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button{
    margin: 5%;
    font-family: "Reddit Sans";
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 85px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button2{
   margin: 10%;
    font-family: "Reddit Sans";
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 85px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button2:hover{
    background: #AEEF0F;
    color: #FF4500;
    border: 2px solid #AEEF0F;
}

.button:hover{
    background: #AEEF0F;
    color: #FF4500;
    border: 2px solid #AEEF0F;
}


/* Animations */
@keyframes slide-Left {
  from {
    translate: -150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes slide-Right {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
/*
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
*/
@keyframes fadeInUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation-delay: 10s;
  animation: 2s fadeInUp;
}
