body{
    background: #FFFFFF;
}

.container{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 90% ;
}

.column{
  column-count: 2;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5%;
}
.button{
  background: #FF4500;
}

.button2{
    font-family: "Reddit Sans";
    background: #000;
    border: 3px solid #000000;
    color: #ffffff;
}

.button2:hover{
    background: #454545;
    color: #FFFFFF;
    border: 2px solid #454545;
}

.button:hover{
    background: #FF8864;
    color: #FFFFFF;
    border: 2px solid #FF8864;
}

/* Animations */
@keyframes slide-Left {
  from {
    translate: -150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes slide-Right {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
/*
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
*/
@keyframes fadeInUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation-delay: 10s;
  animation: 2s fadeInUp;
}
